*{margin: 0;padding: 0; box-sizing: border-box;}
.anchorGoogle{
    text-decoration: none;
}

.headingPage{
    color:crimson;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    margin: 30px 0px;
    font-family: 'Bruno Ace SC', cursive;
}

#myname{
    color:orangered;
    text-align: center;
    text-shadow: 0px 2px 4px #ffeeef;
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
}

#myimg{
    text-align: center;
    text-shadow: 0px 2px 4px #ffeeef;
    display: flex;
    justify-content: center;
}

#rs{
    color: springgreen;
    text-align: center;
}